<h1>Web Interface IoT</h1>

<section class='live-values'>
	<div class='temperature'>
		<label>Temperature</label>
		<output>-- °C</output>
	</div>
	
	<div class='pressure'>
		<label>Pressure</label>
		<output>-- hPa</output>
	</div>
	
	<div class='altitude'>
		<label>Altitude</label>
		<output>-- m</output>
	</div>
</section>

<canvas id="tchart" width="800" height="200"></canvas>
<canvas id="pchart" width="800" height="200"></canvas>
<canvas id="achart" width="800" height="200"></canvas>

<script src="/javascripts/chart.js"></script>
<script src="/javascripts/socket.io.min.js"></script>
<script src="/javascripts/client.js"></script>