<h1>Web Interface IoT</h1>

<canvas id="chart" width="900" height="400"></canvas>

<script src="/javascripts/chart.js"></script>
<script src="/javascripts/socket.io.min.js"></script>
<script src="/javascripts/client.js"></script>