<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    
    <script src="/javascripts/socket.io.min.js"></script>
    <script src="/javascripts/client.js"></script>
  </body>
</html>
