body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
	display: block;
}

.live-values {
	display: flex;
}

.live-values > * {
	flex-grow: 1;
	text-align: center;
}

output {
	display: block;
	font-size: 2vmin;
}